In [1]:
#import pandas library
import pandas as pd

#load the file
file_to_load = "Resources/purchase_data.csv"

#read the purchase data and store it into the Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding= "utf-8")

purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#calculate the total number of users
total_users = len(purchase_data["SN"].unique())
total_users_df = pd.DataFrame({"Total Users": [total_users]})
total_users_df

   Total Users
0          576

In [3]:
#find total number of unique items
unique_items = len(purchase_data["Item Name"].unique())

#find average price
average_price = "${:,.2f}".format(sum(purchase_data["Price"]) / purchase_data["Price"].count())

#find number of purchases
number_of_purchases = len(purchase_data["Purchase ID"])

#find total revenue
total_revenue = "${:,.2f}".format(sum(purchase_data["Price"]))

#create Data Frame
purchasing_analysis_total_df = pd.DataFrame({"Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis_total_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [4]:
#grab the Gneder and SN data from purchase_data.csv
gender_data = purchase_data[["Gender", "SN"]]

#group by gender only counting the unique users
gender_demographic = gender_data.groupby("Gender")["SN"].nunique()

#calculate the percentage of genders
percent = (gender_data.groupby("Gender")["SN"].nunique()) / total_users

#create a dataframe
gender_demographic_df = pd.DataFrame(gender_demographic)

#add the gender % to the dataframe
gender_demographic_df["Percent of Players"] = percent

#format the dataframe
format_dict = {"Percent of Players": "{:.2%}"}
gender_demographic_df.columns = ["Total Count", "Percent of Players"]

#print the DataFrame
gender_demographic_df.style.format(format_dict)

In [5]:
gender_a_data = purchase_data[["Gender", "Purchase ID", "Price", "SN"]]

gender_a_data_gb = gender_a_data.groupby("Gender")["Purchase ID"].count()

avg_pur_price = gender_a_data.groupby("Gender")["Price"].sum() / gender_a_data_gb

t_pur_val = gender_a_data.groupby("Gender")["Price"].sum()

avg_t_pur_person = gender_a_data.groupby("Gender")["Price"].sum() / gender_demographic

gender_pur_analysis = pd.DataFrame({"Purchase Count": gender_a_data_gb, "Average Purchase Price": avg_pur_price, "Total Purchase Value": t_pur_val, "Avg Total Purchase per Person": avg_t_pur_person})
gender_pur_analysis

format_gender_a = {"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"}
gender_pur_analysis.style.format(format_gender_a)

In [6]:
#create bins and bin labels for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data_df["Age"], bins, labels=bin_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [7]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)

In [8]:
#grab the Age group and SN from purchase_data_df
age_data = purchase_data_df[["Age Group", "SN"]]

#group by age group
age_demographic = age_data.groupby("Age Group")["SN"].nunique()

#get percentage per age group
percent = (age_data.groupby("Age Group")["SN"].nunique()) / total_users

#create a data frame
age_demographic_df = pd.DataFrame(age_demographic)

#add the age group % to the dataframe
age_demographic_df["Percent of Players"] = percent

#format the data frame
format_dict = {"Percent of Players": "{:.2%}"}
age_demographic_df.columns = ["Total Count", "Percent of Players"]

#print data frame
age_demographic_df.style.format(format_dict)

In [9]:
age_a_data = purchase_data[["Age Group", "Purchase ID", "Price", "SN"]]

age_a_data_gb = age_a_data.groupby("Age Group")["Purchase ID"].count()

age_avg_pur_price = age_a_data.groupby("Age Group")["Price"].sum() / age_a_data_gb

age_t_pur_val = age_a_data.groupby("Age Group")["Price"].sum()

age_avg_t_pur_person = age_a_data.groupby("Age Group")["Price"].sum() / age_demographic

age_pur_analysis = pd.DataFrame({"Purchase Count": age_a_data_gb, "Average Purchase Price": age_avg_pur_price, "Total Purchase Value": age_t_pur_val, "Avg Total Purchase per Person": age_avg_t_pur_person})
gender_pur_analysis

format_age_a = {"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"}
age_pur_analysis.style.format(format_age_a)