In [1]:
#import pandas library
import pandas as pd

#load the file
file_to_load = "Resources/purchase_data.csv"

#read the purchase data and store it into the Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding= "utf-8")

In [2]:
#calculate the total number of users
total_users = len(purchase_data["SN"].unique())
total_users_df = pd.DataFrame({"Total Users": [total_users]})
total_users_df

   Total Users
0          576

In [3]:
#find total number of unique items
unique_items = len(purchase_data["Item Name"].unique())

#find average price
average_price = "${:,.2f}".format(sum(purchase_data["Price"]) / purchase_data["Price"].count())

#find number of purchases
number_of_purchases = len(purchase_data["Purchase ID"])

#find total revenue
total_revenue = "${:,.2f}".format(sum(purchase_data["Price"]))

#create Data Frame
purchasing_analysis_total_df = pd.DataFrame({"Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases":[number_of_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis_total_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [57]:
#grab the Gneder and SN data from purchase_data.csv
gender_data = purchase_data[["Gender", "SN"]]

#group by gender only counting the unique users
gender_demographic = gender_data.groupby("Gender")["SN"].nunique()

#calculate the percentage of genders
percent = (gender_data.groupby("Gender")["SN"].nunique()) / total_users

#create a dataframe
gender_demographic_df = pd.DataFrame(gender_demographic)

#add the gender % to the dataframe
gender_demographic_df["Percent of Players"] = percent

#format the dataframe
format_dict = {"Percent of Players": "{:.2%}"}
gender_demographic_df.columns = ["Total Count", "Percent of Players"]

#print the DataFrame
gender_demographic_df.style.format(format_dict)

In [6]:
#find purchase count
purchase_count = purchase_data["Purchase ID"].count()

#find average purchase price
avg_purchase_price = "${:,.2f}".format(sum(purchase_data["Price"] / purchase_count))

# find total purchase value
t_purchase_value = "${:,.2f}".format(sum(purchase_data["Price"]))

#average Total Purchase per Person

In [7]:
purchase_data.set_index("Gender")

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44
...,...,...,...,...,...,...
Female,775,Aethedru70,21,60,Wolf,3.54
Male,776,Iral74,21,164,Exiled Doomblade,1.63
Male,777,Yathecal72,20,67,"Celeste, Incarnation of the Corrupted",3.46
Male,778,Sisur91,7,92,Final Critic,4.19
Male,779,Ennrian78,24,50,Dawn,4.60