In [1]:
#import pandas library
import pandas as pd

#load the file
file_to_load = "Resources/purchase_data.csv"

#read the purchase data and store it into the Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding= "utf-8")

In [2]:
#calculate the total number of users
total_users = len(purchase_data["SN"].unique())
total_users_df = pd.DataFrame({"Total Users": [total_users]})
total_users_df

   Total Users
0          576

In [3]:
#find total number of unique items
unique_items = len(purchase_data["Item Name"].unique())

#find average price
average_price = "${:,.2f}".format(sum(purchase_data["Price"]) / purchase_data["Price"].count())

#find number of purchases
number_of_purchases = len(purchase_data["Purchase ID"])

#find total revenue
total_revenue = "${:,.2f}".format(sum(purchase_data["Price"]))

#create Data Frame
purchasing_analysis_total_df = pd.DataFrame({"Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis_total_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [4]:
#grab the Gneder and SN data from purchase_data.csv
gender_data = purchase_data[["Gender", "SN"]]

#group by gender only counting the unique users
gender_demographic = gender_data.groupby("Gender")["SN"].nunique()

#calculate the percentage of genders
percent = (gender_data.groupby("Gender")["SN"].nunique()) / total_users

#create a dataframe
gender_demographic_df = pd.DataFrame(gender_demographic)

#add the gender % to the dataframe
gender_demographic_df["Percent of Players"] = percent

#format the dataframe
format_dict = {"Percent of Players": "{:.2%}"}
gender_demographic_df.columns = ["Total Count", "Percent of Players"]

#print the DataFrame
gender_demographic_df.style.format(format_dict)

In [5]:
gender_a_data = purchase_data[["Gender", "Purchase ID", "Price", "SN"]]

gender_a_data_gb = gender_a_data.groupby("Gender")["Purchase ID"].count()

avg_pur_price = gender_a_data.groupby("Gender")["Price"].sum() / gender_a_data_gb

t_pur_val = gender_a_data.groupby("Gender")["Price"].sum()

avg_t_pur_person = gender_a_data.groupby("Gender")["Price"].sum() / gender_demographic

gender_pur_analysis = pd.DataFrame({"Purchase Count": gender_a_data_gb, "Average Purchase Price": avg_pur_price, "Total Purchase Value": t_pur_val, "Avg Total Purchase per Person": avg_t_pur_person})
gender_pur_analysis

format_gender_a = {"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"}
gender_pur_analysis.style.format(format_gender_a)