In [11]:
#import pandas library
import pandas as pd

#load the file
file_to_load = "Resources/purchase_data.csv"

#read the purchase data and store it into the Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding= "utf-8")

In [12]:
#calculate the total number of users
total_users = len(purchase_data["SN"].unique())
total_users_df = pd.DataFrame({"Total Users": [total_users]})
total_users_df

   Total Users
0          576

In [13]:
#find total number of unique items
unique_items = len(purchase_data["Item Name"].unique())

#find average price
average_price = "${:,.2f}".format(sum(purchase_data["Price"]) / purchase_data["Price"].count())

#find number of purchases
number_of_purchases = len(purchase_data["Purchase ID"])

#find total revenue
total_revenue = "${:,.2f}".format(sum(purchase_data["Price"]))

#create Data Frame
purchasing_analysis_total_df = pd.DataFrame({"Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases":[number_of_purchases], "Total Revenue": [total_revenue]})
purchasing_analysis_total_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [77]:
gender_data = purchase_data[["Gender", "SN"]]
gender_demographic = gender_data.groupby("Gender")["SN"].nunique()
pd.DataFrame(gender_demographic)

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11